
.succes-popup{
    
    background-color: rgb(18, 134, 18);
    z-index: 11111;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -85px;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    width:170px;
    padding: 10px;
    border-radius: 10px;
}