.table-wrapper{
    margin-top: 15px;
    width: 100%;
    display: flex;
 justify-content: center;

}
.table-titles {
  
}
.table-titles th{
   margin-bottom: 10px;
padding: 10px;
    
color: rgb(235, 235, 235);
 background-color: rgb(100, 100, 100);

   
}

.sort-container span {
    padding: 4px;
    border-bottom: 1px solid rgb(134, 134, 134);
}