h1{
  text-align: center;
  font-family: "ALK Sanet", sans-serif;
}
body{
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #fffcf9;
}
*{
  position: relative;
  padding: 0;
  margin: 0;
}
